.App {
  text-align: center;
}

.applist{
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:3em;
}

.main{
  margin:1.5em; 
}

.listopt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card{
  margin: 2em;
  cursor: pointer;
  height: 7em;
}
.card-img-top{
  width: 40px;
}
.addmore{
  margin-top: 20px;
  width: 4em;

}
.formadd{
  position: absolute;
    background: #7fb3be;
    padding: 2em;
    top: 10em;
    width: 40em;
}

.form-open {
  opacity: 0.5;
}